body {
    /*Importing the background image and making it zoom to fit*/
    background-image: url(../assets/contender.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10%;

    /*Aplying the font to the page*/
    font-family: 'Dancing Script', cursive;
}


/*Setting Navbar Background color*/
.navbar-light {
    background-color: rgba(250, 250, 200, .3 );
}

/*Making the center links centered*/
/*Doesn't work with the expandable menu due to using absolute*/
#navbar {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

/*Centering the title*/
.Title {
    position: absolute;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    top: 35vh;
}


h4 {
    /*Center the subtitle*/
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    
    /*positioning the subtitle horizontaly*/
    top: 27vh;

    /*Changing the style*/
    color: blanchedalmond;
    font-size: medium;
}

/*Pusing the grid down*/
.content{
    min-height: 85vh;
}


/*Setting the style for the grid*/
.container {
    color:aqua;
    font-size: medium;
    text-align: center;
    font-family: Pacifico, cursive;
    font-style: oblique;
}

/*grid border*/
.my-col {
    border-left: 1px solid aqua;
    border-right: 1px solid aqua;
}
